---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> { title } </title>
</head>
<body class="bg-neutral-800 text-white mt-8 w-8/12 mx-auto">
    <slot />
</body>
</html>